*{ 
    margin: 0px;
    padding: 0px;
}

#wrapper{
    padding: 40px;
    width: auto;
    height: 2000px;
    background-color: rgba(196, 223, 247, 0.568);
}

.title{
    display: block;
    margin-left: 35%;
    font-family: Gurmukhi MN;

}

.login{
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 40%;
    width: 250px;
    padding: 20px
}

h2{
    margin-left: 60px;
}

input{
    padding: 5px;
    margin: 5px;
}

.register{
    margin-left: 40%;
    width: 250px;
}

button{
    margin-left: 45px;
}
