/* Stylesheet for registration page */

*{ 
    margin: 0px;
    padding: 0px;
}

#wrapper{
    padding: 40px;
    width: auto;
    height: 2000px;
    background-color: rgba(122, 169, 211, 0.568);
    font-family: Gurmukhi MN;
    color: rgb(64, 93, 119);
}

button,form{
    color: whitesmoke;
    background-color:rgb(64, 93, 119);
    padding: 5px 20px;
    text-align: center;
    border-radius: 4px;
}

.messages{
    color:rgb(185, 58, 58);
    text-align: center;
    font-weight: 400px;

}

p{
    text-decoration: underline;
}

img{
    border-radius: 8px;
    padding: 10px;
    width: 285px;
    height: 269px;
    margin-top: 30px;
}

h1{
    font-size: 50px;
}

.title{
    text-align: center;
}

.register{
    height: 310px;
    width: 327px;
    padding: 10px;
    text-align: center;
    margin-left: 33%;
    margin-top: 20px;
}

form{
    padding:20px;
    width: 196px;
    margin-left: 26%;
}

input{
    padding: 5px;
    margin: 5px;
}

button{
    margin-left: 47%;
    margin-top: 10px;
}