<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Recipes</h2>
    <!-- Button will take user back to the home page -->
    <button onclick='location.href="/planner"'>Back</button>

    <!-- all_recipes will take you to all the recipes added by all users -->
    <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a>
    <!-- favorite_recipes will take the user to the recipes they have favorited -->
    <a href="/planner/favorite_recipes">Favorite Recipes</a>

    <div class = 'add_recipe'>
        <h2>Add Recipe</h2>
        <form action='/planner/add_recipe/{{user.id}}' method="POST">
            {% csrf_token %}
            <label for='title'>Title of Recipe:</label>
            <input type='text' id='title' name='title' placeholder='Recipe Name'>

            <label for='description'>Description of Recipe:</label>
            <input type='text' id='description' name='description' placeholder='Describe your recipe'>

            <label for='prep'>Prep Time:</label>
            <input type='text' id='prep' name='prep' placeholder='20 minutes'>

            <label for='cook'>Cook Time:</label>
            <input type='text' id='cook' name='cook' placeholder='1 hour'>


            <label for='ingredients'>Ingredients:</label>
            <input type='text' id='ingredients' name='ingredients' placeholder='Ex:1 tbsp Olive Oil'>

            <label for='directions'>Directions:</label>
            <input type='text' id='directions' name='directions' placeholder='Ex:Preheat oven to 400'>

            <input type='submit' value = "Add Recipe">
        </form>
    </div>

    <h2>List of All Recipes</h2>
    {% for recipe in all_recipes %}
        <h3>{{recipe.title}}</h3>
        <p>{{recipe.description}}</p>
        <!-- Link to view recipe (functioning) -->
        <a href="/planner/recipe_info/{{recipe.id}}">View Recipe</a>  
        {% for user in user_recipes %}
            {% if user.id == recipe.id %}
                | <a href="/planner/delete/{{recipe.id}}">Delete</a> | <a href="/planner/edit_recipe/{{recipe.id}}">Edit</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
    
</body>
</html>