<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Recipes in Menu maker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all_recipes.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
            <!-- Button will take user back to the home page -->
        </div>
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <div class="images">
            <img src="{% static 'media/buffalo.png' %}" alt="Buffalo Chicken Sandwich">
            <img src="{% static 'media/teriyaki.png' %}" alt="Teriyaki Noodles with Chicken">
            <img src="{% static 'media/toastada.png' %}" alt="Toastadas">
            <img src="{% static 'media/gnocchi.png' %}" alt="Creamy Gnocchi Soup">
        </div>

        <div class = 'add_recipe'>
            <h2>Add a Recipe</h2>
            <form action='/planner/add_recipe/{{user.id}}' method="POST">
                {% csrf_token %}
                <label for='title'>Title of Recipe:</label>
                <input type='text' id='title' name='title' placeholder='Recipe Name'>

                <label for='description'>Description of Recipe:</label>
                <input type='text' id='description' name='description' placeholder='Describe your recipe'>

                <label for='prep'>Prep Time:</label>
                <input type='text' id='prep' name='prep' placeholder='20 minutes'>

                <label for='cook'>Cook Time:</label>
                <input type='text' id='cook' name='cook' placeholder='1 hour'>


                <label for='ingredients'>Ingredients:</label>
                <input type='text' id='ingredients' name='ingredients' placeholder='Ex:1 tbsp Olive Oil'>

                <label for='directions'>Directions:</label>
                <input type='text' id='directions' name='directions' placeholder='Ex:Preheat oven to 400'>

                <input type='submit' value = "Add Recipe">
            </form>
        </div>

        <h2>All Recipes on Menu Maker</h2>
        {% for recipe in all_recipes %}
        <div class="recipe">
            <h4>{{recipe.title}}</h4>
            <p>{{recipe.description}}</p>
            <!-- Link to view recipe (functioning) -->
            <a href="/planner/recipe_info/{{recipe.id}}">View Recipe</a> | <a class="like" href="/planner/add_favorite/{{recipe.id}}">Like</a>
            {% for user in user_recipes %}
                {% if user.id == recipe.id %}
                    | <a href="/planner/delete_recipe/{{recipe.id}}">Delete Recipe</a> | <a href="/planner/edit_recipe/{{recipe.id}}">Edit</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>