<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_menu.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
            <!-- Button will take user back to the home page -->
        </div>
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <div class="images">
            <img src="{% static 'media/buffalo.png' %}" alt="Buffalo Chicken Sandwich">
            <img src="{% static 'media/teriyaki.png' %}" alt="Teriyaki Noodles with Chicken">
            <img src="{% static 'media/toastada.png' %}" alt="Toastadas">
            <img src="{% static 'media/gnocchi.png' %}" alt="Creamy Gnocchi Soup">
        </div>

        <!-- error messages will appear here-->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}    
        </ul>
        {% endif %}

        <div class="menu">
            <h2>Create a Menu For The Week</h2>
            <form action="/planner/add_menu/{{user.id}}" method="POST">
                {% csrf_token %}

                <label for="week_date">Date:</label>
                <input type="date" id="week_date" name="week_date">

                <label for="mon">Monday:</label>
                <select id="mon" name="mon">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="tues">Tuesday:</label>
                <select id="tues" name="tues">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="wed">Wednesday:</label>
                <select id="wed" name="wed">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="thurs">Thursday:</label>
                <select id="thurs" name="thurs">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="fri">Friday:</label>
                <select id="fri" name="fri">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="sat">Saturday:</label>
                <select id="sat" name="sat">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="sun">Sunday:</label>
                <select id="sun" name="sun">
                    <option></option>
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}

                <input type="submit" value="Add Menu">
                </select>
            </form>

            <h2>View Previous Menus</h2>
            
            <form action="/planner/previous_menu" method="POST">
                {% csrf_token %}
                <label for="view_menu">Week of:</label>
                <select id="view_menu" name="view_menu">
                    <option> </option>
                    {% for menu in user.menus.all %}
                    <option value={{menu.id}}>{{menu.week_date}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="View">
            </form>
    
            <div class="week">
            <!-- this will display the week a looks view with the menu the user has select-->
                <h4>Week of: {{current_menu.week_date}}</h4>
                <table> 
                    <thead>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </thead>
                    <tbody>
                        <td><a href = '/planner/recipe_info/{{current_menu.mon.id}}'>{{current_menu.mon.title}}</a></td>
                        <td><a href = '/planner/recipe_info/{{current_menu.tues.id}}'>{{current_menu.tues.title}}</a></td>
                        <td><a href = '/planner/recipe_info/{{current_menu.wed.id}}'>{{current_menu.wed.title}}</a></td>
                        <td><a href = '/planner/recipe_info/{{current_menu.thrus.id}}'>{{current_menu.thrus.title}}</a></td>
                        <td><a href = '/planner/recipe_info/{{current_menu.fri.id}}'>{{current_menu.fri.title}}</a></td>
                        <td><a href = '/planner/recipe_info/{{current_menu.sat.id}}'>{{current_menu.sat.title}}</a></td>
                        <td><a href = '/planner/recipe_info/{{current_menu.sun.id}}'>{{current_menu.sun.title}}</a></td>
                    </tbody>
                </table>     
            </div>
        </div>
    </div>



</body>
</html>