<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_menu.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
            <!-- Button will take user back to the home page -->
        </div>
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <div class="images">
            <img src="{% static 'media/buffalo.png' %}" alt="Buffalo Chicken Sandwich">
            <img src="{% static 'media/teriyaki.png' %}" alt="Teriyaki Noodles with Chicken">
            <img src="{% static 'media/toastada.png' %}" alt="Toastadas">
            <img src="{% static 'media/gnocchi.png' %}" alt="Creamy Gnocchi Soup">
        </div>

        <div class="menu">
            <h2>Create a Menu For The Week</h2>
            <form action="/planner/add_menu/{{user.id}}" method="POST">
                {% csrf_token %}

                <label for="week_date">Date:</label>
                <input type="date" id="week_date" name="week_date">

                <label for="mon">Monday:</label>
                <select id="mon" name="mon">
                    {% for recipe in all_recipes %}
                    <option></option>
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="tues">Tuesday:</label>
                <select id="tues" name="tues">
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="wed">Wednesday:</label>
                <select id="wed" name="wed">
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="thurs">Thursday:</label>
                <select id="thurs" name="thurs">
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="fri">Friday:</label>
                <select id="fri" name="fri">
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="sat">Saturday:</label>
                <select id="sat" name="sat">
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}
                </select>

                <label for="sun">Sunday:</label>
                <select id="sun" name="sun">
                    {% for recipe in all_recipes %}
                    <option value={{recipe.id}}>{{recipe.title}}</option>
                    {% endfor %}

                <input type="submit" value="Add Menu">
                </select>
            </form>
        </div>
    </div>



</body>
</html>