<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Button will take user back to the home page -->
    <button onclick='location.href="/planner/all_recipes"'>Back</button>

    <!-- error messages will appear here (functioning)-->
    {% if messages %}
    <ul class='messages'>
        {% for message in messages %}
            <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
        {% endfor %}    
    </ul>
    {% endif %}

    <div class = 'add_recipe'>
        <h2>Edit Recipe</h2>
        <form action='/planner/update/{{recipe.id}}' method="POST">
            {% csrf_token %}
            <label for='new_title'>Title of Recipe:</label>
            <input type='text' id='new_title' name='new_title' placeholder={{recipe.title}}>

            <label for='new_description'>Description of Recipe:</label>
            <input type='text' id='new_description' name='new_description' placeholder={{recipe.description}}>

            <label for='new_prep'>Prep Time:</label>
            <input type='text' id='new_prep' name='new_prep' placeholder={{recipe.prep}}>

            <label for='new_cook'>Cook Time:</label>
            <input type='text' id='new_cook' name='new_cook' placeholder={{recipe.cook}}>

            <!-- ***instruction and direction placeholders are arrays*** -->
            <label for='new_ingredients'>Ingredients:</label>
            <input type='text' id='new_ingredients' name='new_ingredients' placeholder={{recipe.ingredients}}>
            <label for='new_directions'>Directions:</label>
            <input type='text' id='new_directions' name='new_directions' placeholder={{recipe.directions}}>

            <input type='submit' value = "Update">
        </form>
    </div>
</body>
</html>