<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Recipe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_recipe.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
            <!-- Button will take user back to the home page -->
        </div>
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <div class = 'add_recipe'>
            <h2>Edit Your Recipe: {{recipe.title}}</h2>
            <!-- error messages will appear here (functioning)-->
            {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <p {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                {% endfor %}    
            </ul>
            {% endif %}
            <form action='/planner/update/{{recipe.id}}' method="POST">
                {% csrf_token %}
                <label for='new_title'>Title of Recipe:</label>
                <textarea type='text' id='new_title' name='new_title'>{{recipe.title}}</textarea>

                <label for='new_description'>Description of Recipe:</label>
                <textarea type='text' id='new_description' name='new_description'>{{recipe.description}}</textarea>

                <label for='new_prep'>Prep Time:</label>
                <textarea type='text' id='new_prep' name='new_prep'>{{recipe.prep}}</textarea>

                <label for='new_cook'>Cook Time:</label>
                <textarea type='text' id='new_cook' name='new_cook'>{{recipe.cook}}</textarea>

                <!-- ***instruction and direction placeholders are arrays*** -->
                <label for='new_ingredients'>Ingredients:</label>
                <textarea id='new_ingredients' name='new_ingredients' cols="24" rows="5">{% for character in recipe.ingredients %}{% if character != '[' and character != "'" and character != ']'%}{% if character == ',' %}{% else %}{{character}}{% endif %}{% endif %}{% endfor %}</textarea>
                <label for='new_directions'>Directions:</label>
                <textarea type='text' id='new_directions' name='new_directions' cols="23" rows="15">{% for character in recipe.directions %}{% if character != '[' and character != "'" and character != ']'%}{% if character == ',' %}{% else %}{{character}}{% endif %}{% endif %}{% endfor %}</textarea>

                <input type='submit' value = "Update">
            </form>
        </div>
    </div>
</body>
</html>