<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grocery_list.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
            <!-- Button will take user back to the home page -->
        </div>
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <h2>{{user.first_name}}'s Grocery List</h2>

        <div class="create_food">
            <form action="/planner/create_food" method="POST">
                {% csrf_token %}
                
                <label for='name'>Name:</label>
                <input type='text' id='name' name='name'>

                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option> </option>
                    <option>Produce</option>
                    <option>Snacks</option>
                    <option>Bakery</option>
                    <option>International</option>
                    <option>Meat</option>
                    <option>Bread</option>
                    <option>Baking & Spices</option>
                    <option>Frozen</option>
                    <option>Dairy</option>
                    <option>Other</option>
                </select>

                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>