<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grocery_list.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h2>Menu Maker</h2>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- user_recipes will take you to all the recipes added by user who is logged in -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
        </div>
        <!-- Button will take user back to the home page -->
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <!-- Dropdown selection to view menus (user only views menus they created) -->
        <form class="view" action="/planner/grocery/view_menu/{{user.city}}/{{user.state}}" method="POST">
            {% csrf_token %}
            <label for="view_menu">Week of:</label>
            <select id="view_menu" name="view_menu">
                <option> </option>
                {% for menu in user.menus.all %}
                <option value={{menu.id}}>{{menu.week_date}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="View">
        </form>

        <!-- Displays the week the user has selected-->
        <div class="week">
            <h3 class="title">Week of: {{current_menu.week_date}}</h3>
            <table> 
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </thead>
                <tbody>
                    <td><a href = '/planner/recipe_info/{{current_menu.mon.id}}'>{{current_menu.mon.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.tues.id}}'>{{current_menu.tues.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.wed.id}}'>{{current_menu.wed.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.thrus.id}}'>{{current_menu.thrus.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.fri.id}}'>{{current_menu.fri.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.sat.id}}'>{{current_menu.sat.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.sun.id}}'>{{current_menu.sun.title}}</a></td>
                </tbody>
            </table>     
        </div>

        <!-- Form to add a food for the grocery list -->
        <div class="add_food">
            <h3 class="title">Add a Food</h3>

            <!-- error messages will appear here if food added does not pass verificatino -->
            {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <p {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                {% endfor %}    
            </ul>
            {% endif %}

            <form class="create_food" action="/planner/create_food" method="POST">
                {% csrf_token %}
                
                <label for='name'>Name:</label>
                <input type='text' id='name' name='name'>

                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option> </option>
                    <option>Produce</option>
                    <option>Snacks</option>
                    <option>Bakery</option>
                    <option>International</option>
                    <option>Meat</option>
                    <option>Bread</option>
                    <option>Baking & Spices</option>
                    <option>Frozen</option>
                    <option>Dairy</option>
                    <option>Other</option>
                </select>

                <input type="submit" value="Add">
            </form>
        </div>

        <!-- Displays grocery list with the option to add food to the list -->
        <h3 class="title">{{user.first_name}}'s Grocery List</h3>
        <div class="list">
            <div class="food">
                <h4>Produce</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Produce" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in produce %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Snacks</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Snacks" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in snacks %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Bakery</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Bakery" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in bakery %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>International</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "International" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in intl %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Meat</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Meat" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in meat %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Bread</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Bread" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in bread %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Baking & Spices</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Baking & Spices" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in bake_spice %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Frozen</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Frozen" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in frozen %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Dairy</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Dairy" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in dairy %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>

            <div class="food">
                <h4>Other</h4>
                <!-- Adds food to the list -->
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        <!-- Only displays foods within category -->
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Other" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in other %}
                <ul>
                    <!-- displays and deletes food from the list when clicked  -->
                    <p><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></p>
                </ul>
                {% endfor %}
            </div>
        </div>
        <h1>Grocery Stores Near {{user.city}},{{user.state}}</h1>
        <div class="grocery_stores">
            {% for result in results %}
            <div class="store">
                <strong>{{result.name}}</strong>
                <p>{{result.formatted_address}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>