<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grocery_list.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
            <!-- Button will take user back to the home page -->
        </div>
        <button class="home" onclick='location.href="/planner"'>Home</button>


        <div class="add_food">
            <h3>Add a Food</h3>
            <form class="create_food" action="/planner/create_food" method="POST">
                {% csrf_token %}
                
                <label for='name'>Name:</label>
                <input type='text' id='name' name='name'>

                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option> </option>
                    <option>Produce</option>
                    <option>Snacks</option>
                    <option>Bakery</option>
                    <option>International</option>
                    <option>Meat</option>
                    <option>Bread</option>
                    <option>Baking & Spices</option>
                    <option>Frozen</option>
                    <option>Dairy</option>
                    <option>Other</option>
                </select>

                <input type="submit" value="Add">
            </form>
        </div>

        <div class="list">
            <h2>{{user.first_name}}'s Grocery List</h2>

            <div class="produce">
                <h4>Produce</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Produce" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in produce %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="snacks">
                <h4>Snacks</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Snacks" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in snacks %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="bakery">
                <h4>Bakery</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Bakery" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in bakery %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="intl">
                <h4>International</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "International" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in intl %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="meat">
                <h4>Meat</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Meat" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in meat %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="bread">
                <h4>Bread</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Bread" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in bread %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="bake_spice">
                <h4>Baking & Spices</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Baking & Spices" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in bake_spice %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="frozen">
                <h4>Frozen</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Frozen" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in frozen %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="dairy">
                <h4>Dairy</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Dairy" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in dairy %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <div class="other">
                <h4>Other</h4>
                <form action="/planner/add_grocery" method="POST">
                    {% csrf_token %}
                    <select id="add_grocery" name="add_grocery">
                        <option> </option>
                        {% for grocery in all_foods %}
                            {% if grocery.category == "Other" %}
                                <option value={{grocery.id}}>{{grocery.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% for food in other %}
                <ul>
                    <li><a href="/planner/remove_grocery/{{food.id}}">{{food.name}}</a></li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>