<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="title">
            <!-- Clicking on user's name takes them to a page where they can edit their information -->
            <h2>Welcome <a href='/account/{{user.id}}'>{{user.first_name}}</a>!</h2>
            <p>Let's get planning</p>
            <!-- Button will take user back to the home page -->
            <button class="home" onclick='location.href="/planner"'>Home</button>
        </div>

        <div class="images">
            <img src="{% static 'media/lemon_chick.png' %}" alt="Creamy Lemon Skillet Chicken">
            <img src="{% static 'media/dimsum.png' %}" alt="Green Onion Dimsum">
            <img src="{% static 'media/tacos.png' %}" alt="Pork Tacos">
            <img src="{% static 'media/pasta.png' %}" alt="Pasta Carbonara">
        </div>

        <!-- Dropdown selection to view menus (user only views menus they created) -->
        <form action="/planner/view_menu" method="POST">
            {% csrf_token %}
            <label for="view_menu">Week of:</label>
            <select id="view_menu" name="view_menu">
                <option> </option>
                {% for menu in user.menus.all %}
                    <option value={{menu.id}}>{{menu.week_date}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="View">
        </form>

        <!-- Displays the week the user has selected-->
        <div class="week">
        <table> 
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </thead>
                <tbody>
                    <td><a href = '/planner/recipe_info/{{current_menu.mon.id}}'>{{current_menu.mon.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.tues.id}}'>{{current_menu.tues.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.wed.id}}'>{{current_menu.wed.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.thrus.id}}'>{{current_menu.thrus.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.fri.id}}'>{{current_menu.fri.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.sat.id}}'>{{current_menu.sat.title}}</a></td>
                    <td><a href = '/planner/recipe_info/{{current_menu.sun.id}}'>{{current_menu.sun.title}}</a></td>
                </tbody>
            </table>     
        </div>

        <!-- Allows user to create a menu, view recipes and view their grocery list -->
        <div class="buttons">
            <button onclick='location.href="/planner/create_menu"'>Create New Menu</button>
            <button onclick='location.href="/planner/user_recipes/{{user.id}}"'>Browse Recipes</button>
            <button onclick='location.href="/planner/grocery_list"'>Grocery List</button>
            
        </div>
    </div>
</body>
</html>