<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- Button will take user back to the home page -->
            <button onclick='location.href="/planner"'>Home</button>
            <!-- account route takes user to page to edit their account (functioning) -->
            <a href='/account/{{user.id}}'>Edit Profile</a>

            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>

            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="title">
            <h2>Welcome {{user.first_name}}!</h2>
            <p>Let's get planning</p>
        </div>

        <div class="week">
            <!-- this will display the week a looks view with the menu the user has select -->

            <table>
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </thead>
                <tbody>
                    {% if current_menu.mon == None %}
                    <td>No recipe added to Monday</td>
                    {% else %}
                    <td><a href = planner/recipe_info/{{current_menu.mon.id}} ></a>{{current_menu.mon.title}}</td>
                    {% endif %}
                    <td>{{current_menu.tues.title}}</td>
                    <td>{{current_menu.wed.title}}</td>
                    <td>{{current_menu.thurs.title}}</td>
                    <td>{{current_menu.fri.title}}</td>
                    <td>{{current_menu.sat.title}}</td>
                    <td>{{current_menu.sun.title}}</td>
                </tbody>
            </table>
            
        </div>

        <button onclick='location.href="/planner/create_menu"'>Create New Menu</button>
        <button onclick='location.href="/planner/user_recipes/{{user.id}}"'>Browse Recipes</button>

        <!-- <div class="grocery_list">
            <h3>Grocery List:</h3>
            <ul>
                <li>Loop through items on the list</li>
            </ul>
            <button>Quick Add</button>
            <button onclick='location.href="/planner/grocery_list"'>See Full List</button>
        </div> -->
        
        <!-- <form action="planner/veiw_menu/{{menu.id}}" method="POST">
            <h3>Week of: <select>
                {% for menu in all_menus %}
                <p>{{menu.week_date}}</p>
                    <option value="{{menu.id}}">{{menu.week_date}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="View"> -->
        </form>

    </div>
</body>
</html>