<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- user_recipes will take you to all the recipes added by user who is logged in -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a> |
            <!-- grocery_list will take you to your current grocery list -->
            <a href="/planner/grocery_list/{{user.city}}/{{user.state}}">Grocery List</a>
        </div>
        <!-- Button will take user back to the home page -->
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <!-- Displays recipe selected by the user -->
        <div class="recipe">
            <h1>{{recipe.title}}</h1>
            <h4>{{recipe.description}}</h4>
            <img src="{% static 'media/no_image.png' %}" alt="No Photo Available">
            <p>Prep Time: {{recipe.prep}}</p>
            <p>Cook Time: {{recipe.cook}}</p>
            <h5>Ingredients:</h5>
            <ul>
                <li>{% for character in recipe.ingredients %}{% if character != '[' and character != "'" and character != ']'%}{% if character == ',' %}
                </li>
                <li>{% else %}{{character}}{% endif %}{% endif %}{% endfor %}
                </li>

            </ul>
            <h5>Directions:</h5>
            <ol>
                <li>{% for character in recipe.directions %}{% if character != '[' and character != "'" and character != ']'%}{% if character == ',' %}
                </li>
                <li>{% else %}{{character}}{% endif %}{% endif %}{% endfor %}
                </li>
            </ol>
            <!-- If the recipe has been added by the user logged in they are allowed to edit/delete recipe -->
            {% for user in user_recipes %}
                {% if user.id == recipe.id %}
                    <a href="/planner/delete_recipe/{{recipe.id}}">Delete</a> | <a href="/planner/edit_recipe/{{recipe.id}}">Edit</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>