<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all_recipes.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="recipe_nav">
            <!-- all_recipes will take you to all the recipes added by all users -->
            <a href="/planner/all_recipes">All Recipes</a> |
            <!-- user_recipes will take you to all the recipes added by user who is logged in -->
            <a href="/planner/user_recipes/{{user.id}}">Your Recipes</a> |
            <!-- favorite_recipes will take the user to the recipes they have favorited -->
            <a href="/planner/favorite_recipes">Favorite Recipes</a>
        </div>
        <!-- Button will take user back to the home page -->
        <button class="home" onclick='location.href="/planner"'>Home</button>

        <div class="images">
            <img src="{% static 'media/buffalo.png' %}" alt="Buffalo Chicken Sandwich">
            <img src="{% static 'media/teriyaki.png' %}" alt="Teriyaki Noodles with Chicken">
            <img src="{% static 'media/toastada.png' %}" alt="Toastadas">
            <img src="{% static 'media/gnocchi.png' %}" alt="Creamy Gnocchi Soup">
        </div>

        <!-- error messages will appear here if new recipe does not pass verification -->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <p {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}    
        </ul>
        {% endif %}
        
        <!-- Form for adding a recipe -->
        <div class = 'add_recipe'>
            <h2>Add a Recipe</h2>
            <form action='/planner/add_recipe/{{user.id}}' method="POST">
                {% csrf_token %}
                <label for='title'>Title of Recipe:</label>
                <input type='text' id='title' name='title' placeholder='Recipe Name'>

                <label for='description'>Description of Recipe:</label>
                <input type='text' id='description' name='description' placeholder='Describe your recipe'>

                <label for='prep'>Prep Time:</label>
                <input type='text' id='prep' name='prep' placeholder='20 minutes'>

                <label for='cook'>Cook Time:</label>
                <input type='text' id='cook' name='cook' placeholder='1 hour'>


                <label for='ingredients'>Ingredients:</label>
                <textarea type='text' id='ingredients' name='ingredients' placeholder='Ex:1 tbsp Olive Oil' cols="24" rows="5"></textarea>

                <label for='directions'>Directions:</label>
                <textarea type='text' id='directions' name='directions' placeholder='Ex:Preheat oven to 400' cols="23" rows="15"></textarea>

                <input type='submit' value = "Add Recipe">
            </form>
        </div>

        <!-- Displays recipes added by the user who is logged in -->
        <h2>{{user.first_name}}'s Recipes</h2>
        {% for recipe in user.recipes.all %}
        <div class="recipe">
                <h4>{{recipe.title}}</h4>
                <!-- Allows user to "favorite" any recipe -->
                <button class="like" onclick='location.href="/planner/add_favorite/{{recipe.id}}"'>Like</button>
                
                <p>{{recipe.description}}</p>
                <!-- Link to view recipe -->
                <a href="/planner/recipe_info/{{recipe.id}}">View Recipe</a> | <a href="/planner/edit_recipe/{{recipe.id}}">Edit Recipe</a> | <a href="/planner/delete_recipe/{{recipe.id}}">Delete Recipe</a>
        </div>
        {% endfor %}
</div>
</body>
</html>