<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{user.first_name}}'s Recipes</h2>
    <!-- Button will take user back to the home page -->
    <button onclick='location.href="/planner"'>Back</button>

    <!-- all_recipes will take you to all the recipes added by all users -->
    <a href="/planner/all_recipes">All Recipes</a>
    <!-- favorite_recipes will take the user to the recipes they have favorited -->
    <a href="/planner/favorite_recipes">Favorite Recipes</a>

    <div class = 'add_recipe'>
        <h3>Add Recipe</h3>
        <form action='/planner/add_recipe' method="POST">
            {% csrf_token %}
            <label for='title'>Title of Recipe:</label>
            <input type='text' id='title' name='title' placeholder='Recipe Name'>

            <label for='prep_time'>Prep Time:</label>
            <input type='text' id='prep_time' name='cook_time' placeholder='20 minutes'>

            <label for='cook_time'>Cook Time:</label>
            <input type='text' id='cook_time' name='cook_time' placeholder='1 hour'>


            <label for='ingredient'>Ingredients:</label>
            <input type='text' id='ingredient' name='ingredient' placeholder='Ex:1 tbsp Olive Oil'>

            <label for='directions'>Directions:</label>
            <input type='text' id='directions' name='directions' placeholder='Ex:Preheat oven to 400'>

            <input type='submit' value = "Add Recipe">
        </form>
    </div>

    <p>List of User's Recipes</p>
    
</body>
</html>