<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">  
</head>
<body>
    <div id=wrapper>
        <div class="nav_bar">
            <h3>Menu Maker</h3>
            <!-- logout route clears session and returns to login page (functioning) -->
            <button onclick='location.href="/logout"'>Logout</button>
        </div>
        
        <div class="title">
            <!-- account route takes user to page to edit their account (functioning) -->
            <h2>Welcome <a href='/account/{{user.id}}'>{{user.first_name}}</a>!</h2>
            <p>Edit your account</p>
            <!-- Button will take user back to the home page -->
            <button class="home" onclick='location.href="/planner"'>Home</button>
        </div>

        <div class="images">
            <img src="{% static 'media/creamy_chicken.png' %}" alt="Creamy Chicken in Skillet">
            <img src="{% static 'media/dumplings.png' %}" alt="Sesame Dumplings">
            <img src="{% static 'media/avo_chicken.png' %}" alt="Grilled Chicken with Avocado Salsa">
            <img src="{% static 'media/meatballs.png' %}" alt="Cheesey Meatballs">
        </div>

        <!-- error messages will appear here is user does not meet user requirements -->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}  
        </ul>
        {% endif %}  
        
        <!-- Form where user can edit their account -->
        <div class='edit_form'>
            <form action='/edit/{{user.id}}' method='POST'>
                {% csrf_token %}
                <label for='new_first_name'>First Name:</label>
                <input type='text' id='new_first_name' name='new_first_name' placeholder='{{user.first_name}}'>

                <label for='new_last_name'>Last Name:</label>
                <input type='text' id='new_last_name' name='new_last_name' placeholder='{{user.last_name}}'>

                <label for='new_city'>City:</label>
                <input type='text' id='new_city' name='new_city' placeholder='{{user.city}}'>

                <label for='new_state'>State:</label>
                <input type='text' id='new_state' name='new_state' placeholder='{{user.state}}'>

                <label for='new_email'>Email:</label>
                <input type='email' id='new_email' name='new_email' placeholder='{{user.email}}'>

                <input type='submit' value = "Update">
            </form>

            <p>{{user.city}}</p>
        </div>
    </div>
</body>
</html>
