<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">   -->
</head>
<body>
    <div id=wrapper>
        <h2>Edit My Account</h2>

        <div class = 'navigate'>
            <!-- takes user back to their home page (functioning)-->
            <a href="/planner">Back</a>

            <!-- logout route clears session and returns to login page (functioning) -->
            <button type="button"><a href="/logout">Logout</a></button>
        </div>

        <!-- error messages will appear here (functioning)-->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}  
        </ul>
        {% endif %}  
        
        <!-- Form where user can edit their account (functioning) -->
        <div class='edit_form'>
            <form action='/edit/{{user.id}}' method='POST'>
                {% csrf_token %}
                <label for='new_first_name'>First Name:</label>
                <input type='text' id='new_first_name' name='new_first_name' placeholder='{{user.first_name}}'>

                <label for='new_last_name'>Last Name:</label>
                <input type='text' id='new_last_name' name='new_last_name' placeholder='{{user.last_name}}'>

                <label for='new_email'>Email:</label>
                <input type='email' id='new_email' name='new_email' placeholder='{{user.email}}'>

                <input type='submit' value = "Update">
            </form>
        </div>
    </div>
</body>
</html>
