<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/reg_log.css' %}">  -->
</head>

<body>
    <div id=wrapper>
        <!-- will display any error messages if the user doesn't match username and password, or if they have not registered -->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}    
        </ul>
        {% endif %}

        <div class='login'>
            <!-- login form -->
            <h2>Login</h2>
            <form action='/login' method='POST'>
                {% csrf_token %}
                <label for='logemail'>Email:</label>
                <input type='email' id='logemail' name='logemail'>

                <label for='logpassword'>Password:</label>
                <input type='password' id='logpassword' name='logpassword'>

                <input type='submit' value='Log In'>
            </form>

            <!-- for new users to register -->
            <h3>New to Menu Maker?</h3>
            <button onclick='location.href="/registration"'>Register Here!</button>
        </div>

    </div>
</body>
</html>