<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Menu Maker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
</head>
<body>
    <div id=wrapper>
        <div class="title">
            <h1>Welcome Back to Menu Maker</h1>
            <h3>Lets get planning!</h3>
        </div>

        <div class="images">
            <img src="{% static 'media/creamy_chicken.png' %}" alt="Creamy Chicken in Skillet">
            <img src="{% static 'media/dumplings.png' %}" alt="Sesame Dumplings">
            <img src="{% static 'media/avo_chicken.png' %}" alt="Grilled Chicken with Avocado Salsa">
            <img src="{% static 'media/meatballs.png' %}" alt="Cheesey Meatballs">
        </div>

        <div class='login'>
            <!-- login form -->
            <h2>Login</h2>
            <form action='/login' method='POST'>
                {% csrf_token %}
                <label for='logemail'>Email:</label>
                <input type='email' id='logemail' name='logemail'>

                <label for='logpassword'>Password:</label>
                <input type='password' id='logpassword' name='logpassword'>

                <input type='submit' value='Log In'>
            </form>
        </div>

        <!-- error messages will appear here if email and password don't match or user is not registered -->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <p {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}    
        </ul>
        {% endif %}
            
        <!-- button for new users to register -->
        <div class="register">
            <h2>New to Menu Maker?</h2>
            <button onclick='location.href="/registration"'>Register Here!</button>
        </div>
    </div>
</body>
</html>