<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}"> 
</head>
<body>
    <div id=wrapper>
        <div class='register'>
            <div class="title">
                <h1>Welcome to Menu Maker!</h1>
                <h3>***DESCRIPTION OF PROJECT***</h3>
                <p>To Join Register Below</p>
            </div>

            <!-- take user back to login page -->
            <button onclick='location.href="/"'>Back</button>

            <!-- registration form -->
            <form action='/register' method='POST'>
                {% csrf_token %}
                <label for='first_name'>First Name:</label>
                <input type='text' id='first_name' name='first_name'>
        
                <label for='last_name'>Last Name:</label>
                <input type='text' id='last_name' name='last_name'>
        
                <label for='email'>Email:</label>
                <input type='email' id='email' name='email'>
        
                <label for='password'>Password:</label>
                <input type='password' id='password' name='password'>
        
                <label for='confirm_pw'>Confirm PW:</label>
                <input type='password' id='confirm_pw' name='confirm_pw'>
        
                <input type='submit' value='Register'>
            </form>
        </div>

        <!-- will display messages if user does not meet registration requirements -->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <p {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}    
        </ul>
        {% endif %}
    </div>
</body>
</html>




